@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Prompt";
  src: url("/fonts/Prompt/Prompt-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Source";
  src: url("/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
